@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.jumbotron {
    margin-top: 4rem;
    background-image: url("images/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about p {
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background: green;
    color: white;
}
